<!-- Додайте наступний код у шаблон -->
<h2>Table Columns:</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Constraints</th>
    </tr>
    </thead>
    <tbody>
        #foreach ($column in $columns)
        <tr>
            <td>$column.name</td>
            <td>$column.type</td>
            <td>$column.constraints</td>
        </tr>
        #end
    </tbody>
</table>
